<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="Description" content="WWW Programmierung Hausarbeit WS2018">
    <meta name="author" content="Jonas Leonhard, 611179">

    <link rel = "stylesheet" type = "text/css" href = "/views/indexstyle.css"media="screen" />

    <title> Make Entry </title>
</head>

<div class="navbar">
    <ul>
        <li><a>Impressum</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</div>

<body>


</body>
<p><strong>Jonas Leonhard</strong>
  <br>
  Matrikelnummer 611179
  <br>
  jole7181
  <br>
Hochschule Flensburg</p>

<p></p>
<p>
<strong>Kontakt</strong>
<br>
jonasleonhardfl@gmail.com</p>

<p></p>
<p><strong>Inhalte</strong>
<br>
Hierbei erkläre ich, das ich der rechtmäßige Urheber dieser Website bin. Der gesamte Quellcode, sowie sonstige, nicht von den Usern erstellte inhalte sind von mir erstellt worden.
<br>
Für das "noimage.png" besitze ich keine Rechte. Andere Verwendete bilder sind Rechtefreie stock photos von pexels.com  </p>
<body>

</body>
</html>